.border {
  width: 10em;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 10px 10px 5px lightgray;
}

.image {
  height: auto;
  width: 10em;
}

.card {
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  background-color: var(--white);
  width: 100%;
  text-align: start;
  color: var(--first);
}

.top {
  margin-bottom: 10%;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: flex-end;
  align-items: center;
}

.rating {
  color: var(--third);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  border-radius: 5px;
  background-color: var(--third);
  color: var(--white);
  border: none;
  cursor: pointer;
}
