.navigationItems {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  padding-top: 0.5em;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  bottom: 10px;
  border-top: 1px solid lightgray;
}

.navigationItems a[data-is-active="true"] {
  color: var(--third);
}

.navigationItems a[data-is-active="false"] {
  color: var(--first);
}
