.container {
  composes: container from global;
  text-align: center;
  gap: 30px;
  height: 100vh;
  overflow: hidden;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.title1 {
  color: var(--second);
}

.title2 {
  color: var(--third);
}

.subtitles {
  font-size: 12px;
}
