.container {
  composes: container from global;
  background-color: var(--white);
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}

.top {
  width: 100%;
  min-height: 20vh;
  padding: 25px;
  background-color: var(--first);
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: var(--white);
  padding: 30px 0 0 0;
}

.subtitle {
  font-size: 10px;
  color: var(--white);
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5%;
  width: 100%;
  padding: 25px 0px 5px 25px;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.buttonGroup::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.buttonList {
  background-color: var(--white);
  min-width: 10em;
  height: 2.5em;
  border-radius: 1em;
  border: 0.1px solid lightgray;
}

.buttonList:focus {
  color: var(--white);
  background-color: var(--third);
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 0px 30px 15px;
  gap: 25px;
  max-height: 65vh;
  overflow-y: auto;
  scrollbar-width: none;
}

@media only screen and (max-width: 600px) {
  .list {
    padding: 15px;
    max-height: 67vh;
  }
}
